@import '~antd/dist/antd.css';

.avatar {
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.center {
	margin: 0 10px;
	text-align: center;
	width: 100%;
}

.sider-header {
	margin: 16px 0 8px;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: bold;
	background-color: #00009f;
	text-align: left;
	width: 100%;
}

.sider-header-2 {
	padding: 0 20px;
	font-size: 0.9rem;
	font-weight: bold;
	width: 100%;
}

.sider-content {
	padding: 0 20px;
	font-size: 0.9rem;
	width: 100%;
}
