@import '~antd/dist/antd.css';

.avatar {
	object-fit: cover;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.center {
	margin: 0 10px;
	text-align: center;
	width: 100%;
}

.sider-header {
	margin: 16px 0 8px;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: bold;
	background-color: #093475;
	text-align: left;
	width: 100%;
}

.sider-header-2 {
	padding: 0 20px;
	font-size: 0.9rem;
	font-weight: bold;
	width: 100%;
}

.sider-content {
	padding: 0 20px;
	font-size: 0.9rem;
	width: 100%;
}

.content-header {
	padding: 8px 0;
	margin-bottom: 16px;
	font-size: 1.25rem;
	font-weight: bold;
	color: #083d8e;
	text-align: left;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: 100%;
}

.content-content {
	margin: 16px 0;
	font-size: 0.95rem;
}

.content-title {
	font-weight: bold;
}
